<div class="container">
    <h1>Editar Administrator</h1>
    <%= render 'form', admin_administrator: @admin_administrator %>
    <br>
    <%= link_to 'Mostrar', @admin_administrator, class:"btn btn-light min-width-btn" %>
    <%= link_to 'Voltar', admin_administrators_path, class:"btn btn-light min-width-btn" %>
</div>