<div class="container">
    <h1>Editar Endereço</h1>
    <%= render 'edit_form', admin_address: @admin_address %>
    <br>
    <%= link_to 'Mostrar', admin_administrator_address_path(@administrator, @address), class:"btn btn-light min-width-btn" %>
    <%= link_to 'Voltar', admin_administrator_address_path(@administrator), class:"btn btn-light min-width-btn" %>
</div>