<div class="container">
    <h1>Novo Endereço</h1>
    <%= render 'form', admin_address: @admin_address %>
    <br>
    <%= link_to 'Voltar', admin_administrator_addresses_path(@administrator), class:"btn btn-light min-width-btn" %>
</div>