<div class="container">
    <h1>Editing Sales Video</h1>
    <%= render 'edit_form', sales_video: @sales_video %>
    <br>
    <%= link_to 'Mostrar', sales_seller_course_video_path(@seller, @course, @video), class:"btn btn-light min-width-btn" %>
    <%= link_to 'Voltar', sales_seller_course_videos_path(@seller, @course), class:"btn btn-light min-width-btn" %>
</div>