<div class="container">
    <h1>New Sales Video</h1>
    <%= render 'form', sales_video: @sales_video %>
    <br>
    <%= link_to 'Voltar', sales_seller_course_videos_path(@seller, @course), class:"btn btn-light min-width-btn" %>
</div>


