<div class="container">
    <h1>Editing Sales Address</h1>
    <%= render 'form', sales_address: @sales_address %>
    <br>
    <%= link_to 'Mostrar',sales_seller_address_path(@seller, @address), class:"btn btn-light min-width-btn" %>
    <%= link_to 'Voltar', sales_seller_addresses_path(@seller), class:"btn btn-light min-width-btn" %>
</div>