<div class="container">
    <h1>New Sales Bank Account</h1>
    <%= render 'form', sales_bank_account: @sales_bank_account %>
    <br>
    <%= link_to 'Voltar', sales_seller_bank_accounts_path(@seller), class:"btn btn-light min-width-btn" %>
</div>