<div class="container">
    <h1>Editing Client User</h1>
    <%= render 'form', client_user: @client_user %>
    <br>
    <%= link_to 'Voltar', client_root_path, class:"btn btn-light min-width-btn" %>
</div>