<div class="container">
    <h1>New Sales Seller</h1>
    <%= render 'form', sales_seller: @sales_seller %>
    <br>
    <%= link_to 'Voltar', sales_sellers_path, class:"btn btn-light min-width-btn" %>
</div>