<div class="container">
    <h1>Editar Conta Bancária</h1>
    <%= render 'edit_form', admin_bank_account: @admin_bank_account %>
    <br>
    <%= link_to 'Mostrar', admin_administrator_bank_account_path(@administrator, @bank_account), class:"btn btn-light min-width-btn" %>
    <%= link_to 'Voltar', admin_administrator_bank_accounts_path(@administrator), class:"btn btn-light min-width-btn" %>
</div>