<div class="container">
    <h1>New Admin Bank Account</h1>
    <%= render 'form', admin_bank_account: @admin_bank_account %>
    <br>
    <%= link_to 'Voltar', admin_administrator_bank_accounts_path(@administrator), class:"btn btn-light min-width-btn" %>
</div>