<div id="<%= dom_id course %>">
  <p>
    <strong>Nome:</strong>
    <%= course.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= course.descricao %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= course.link %>
  </p>

</div>
