<div class="container">
    <h1>Editing Sales Course</h1>
    <%= render 'form', sales_course: @sales_course %>
    <br>
    <%= link_to 'Mostrar', sales_seller_course_path(@seller, @course), class:"btn btn-light min-width-btn" %>
    <%= link_to 'Voltar', sales_seller_courses_path(@seller), class:"btn btn-light min-width-btn" %>
</div>